*{margin:0;padding:0;}
body{
    background-color:aquamarine;
}
li{list-style: none;}
p{
    font-size:20px;
    text-align:center;
    line-height:20px;
}
.nav{
    width: 100px;
    height:210px;
    margin-left:100px;
    margin-top:10px;
    border:1px solid black;
    text-align: center; 
}

a{
    color:rgb(135, 145, 235);
    text-decoration: none;
    line-height: 30px;
}
a:hover{
    text-decoration: underline;
}
