*{margin:0;padding:0;}
.header{
    height: 76px;
    background:#19bebe url(../images/home+.png) no-repeat center center;
}
.leader{
height: 40px;
background: #f0f0f0;
}
.location{
    height: 40px;
    width:1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f0f0;
    position: relative;
}
a{
    text-decoration: none;
}
.where{
    font-size: 12px;
    color: #575757;
    position: absolute;
    top: 12px;
    left: 38px;
}
.loca-img{
    position: absolute;
    top: 10px;
    left:10px;
}
.nav>a{
    color:#575757;
    display: inline-block;
    margin-left: 60px;
}
.nav{
    position: absolute;
    left:280px;
    top: 10px;
}
.adm{
    color:#575757;
    font-size: 12px;
    position: absolute;
    right: 4px;
    top: 12px;
    color:#fea700;
}

    

/* mid */
.user{
    width:1000px;
      
    margin:25px auto 60px;
    position: relative;
}
.user-left{
    width:180px;
    background: #f0f0f0;
    height: 840px;
    position: relative;
}
.user-center{
    width:177px;
    height: 75px;
    text-align: center;
    border:1px solid #e4e2e2;
    border-left:2px solid #19bebe;
    
}

.center{
   position: absolute;
   top: 30px;
   left:40px;
   color: #19bebe;
}
.center:hover{    
    color:#fea700;
    }
li{
   list-style-type: none;
}
a{
    color:#575757;
}
.first-list{
    width:150px;
    height: 150px;
    position: absolute;
    left: 25px;
    top:80px;
}

.second-list{
    width:150px;
    height: 100px;
    position: absolute;
    left: 25px;
    top:185px;
}
.thired-list{
    width:150px;
    height: 100px;
    position: absolute;
    left: 25px;
    top:265px;
}
.fouth-list{
    width:150px;
    height: 100px;
    position: absolute;
    left: 25px;
    top:350px;
}
.fifth-list{
    width:150px;
    height: 100px;
    position: absolute;
    left: 25px;
    top:530px;
}
.sixth-list{
    width:150px;
    height: 100px;
    position: absolute;
    left: 25px;
    top:680px;
}
.list{
    display: block;   
    margin-top: 10px;
}
.list-head{
    color:black;
}
.gold:hover{
    color:#fea700;
}
.user-right{
    
    width: 810px;
    background:#f0f0f0;
    position: absolute;
    left:190px;
    top: 0px;
    border: 1px solid #e4e2e2;
}
.show{
    width:810px;
    height: 840px;
}
.cut{
    height:65px;
}
/* bottom */
.bottom{
    height: 222px;
    background-color:#515151;
    } 
    .bottom-mid{
    
    width:1000px;
    height:175px;
    margin-left: auto;
    margin-right: auto;
    border-bottom:1px solid #eee; 
    position: relative;
    }
    .bottom-left{
    display: inline-block;
    height: 175px;
    width: 500px;
    
    }
    .bottom-img{
    display: inline-block;
    position: absolute;
    left:14px;
    top:30px;
    }
    .last{
    color:#eee;
    position: absolute;
    left: 14px;
    top:86px;
    font-size: 12px;
    }
    .p1{
    font-size:14px;
    margin-bottom: 8px;
    }
    
    .bottom-a{
    color:#eee;
    }
    .right-first{
    line-height: 16px;
    position: absolute;
    left:490px;
    top:70px;
    }
    .right-second{
    position: absolute;
    line-height: 16px;
    left:490px;
    top:100px;
    }
    .right-thired{
    line-height: 16px;
    position: absolute;
    left:490px;
    top:130px;
    }
    .right-fouth{
    font-size:12px;
    line-height: 30px;
    margin-top:15px;
    position: absolute;
    left:780px;
    top:50px;
    }
    .underline-left{
    font-size: 12px;
    color:#eee;
    position: absolute;
    left: 14px;
    top:190px;
    }
    .underline-right{
    font-size: 12px;
    color:#eee;
    position: absolute;
    top: 190px;
    left:670px;
    }